@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Tajawal;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.nuxt-content-highlight {
  direction: ltr;
  @apply rounded-full;
  /* width: 50%; */
}

.nuxt-content-highlight .filename {
  @apply absolute right-0 text-gray-600 font-light z-10 mr-2 mt-1 text-sm;
}